body{
    background-color: grey;
    overflow-x: hidden;
}


/*-------------------------------------------- Buttons*/
.button {
  
  font-size: 1.5em;
  background-color: lightgrey;
}

#switches {
  
  font-family: 'Original Surfer', cursive;
  margin-left: 26px;
  
}

#turn {
 
  background: #330000;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  
}

/*--------------------------------------------Containers*/
.container-header{
   padding-top: 30px;
}

.container-circles
 {
    padding-top: 5px;
    
    
}

/*--------------------------------------------Circles*/
.circle{
    
    width: 100px;
    height: 100px;
    
    border-radius:50%;
   
    box-shadow:0 0 10px #000;
  }
  
  .circle:after{
    content:"";
    padding-bottom:100%;
    display:block;
  }
  
  .circle-red {
      background: darkred;
      
  }
  
   .circle-blue {
     background: darkblue;
       
  }
  
   .circle-green {
     background: darkgreen;
       
  }
  
   .circle-yellow {
     background: goldenrod;
       
  }
  
  .top-row{
       padding-bottom: 50px;
  }
  .middle-row{
      padding-top: 50px;
      padding-bottom: 50px;
      
  }
  
  
  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}